/* Thùng chứa chính */
.bang-xuat-kho-wrapper {
    padding: 30px;
    background-color: #f4f6f8;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* Vùng cuộn ngang */
.bang-xuat-kho-scroll-wrapper {
    width: 100%;
    overflow-x: auto;
}

.filters .ant-input-affix-wrapper:nth-child(1) { width: 320px; }
.filters .ant-select:nth-child(2) { width: 180px; }
.filters .ant-select:nth-child(3) { width: 140px; }
.filters .ant-select:nth-child(4) { width: 90px; }

